[run]
source =
    shop
    payments

omit =
    */tests/*
    */migrations/*
    */manage.py
    */asgi.py
    */wsgi.py
    */apps.py
    */__init__.py

[report]
exclude_also =
    if __name__ == .__main__.:
    pragma: no cover