
{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}

<h2>Bookstore</h2>

<form method="get">
    <input type="text" name="q" placeholder="Search books">
    <button type="submit">Search</button>
</form>

<hr>

{% for book in books %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <h3>{{ book.title }}</h3>

        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }} $</p>
        <p>Stock: {{ book.stock }}</p>

        <a href="{% url 'cart_add' book.id %}">
            Add to cart
        </a>
    </div>
{% empty %}
    <p>No books available</p>
{% endfor %}

<hr>

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span> Page {{ page_obj.number }} </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
</div>

{% endblock %}